table{
	width: 100%;

	border: 1px solid @borderColor;
	.gradient(@borderColor, darken(@borderColor, 15%), darken(@borderColor, 10%));

	th, td{
		padding: 5px 10px;
		text-align: left;
		font-weight: 300;
		font-size: 16px;

		&.right-aligned{
			text-align: right;
		}
	}

	thead{
		th{
			color: white;
			border-bottom: 1px solid @borderColor;
		}
	}

	tbody{
		tr{
			&:nth-child(odd){
				background-color: fade(black, 20%);
			}
		}

		td{
			//font-size: 17px;
		}
	}
}