section {
	&.home {
		overflow: hidden;
		padding-top: 40px;
		margin-top: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		position: relative;

		@media (max-width: @threshold1) {
			padding-top: 20px;
		}

		// changer layout to vertical stack
		@media (max-width: @threshold2) {
			padding: 0;
			grid-template-columns: 1fr;
			grid-template-areas:
				"top"
				"middle"
				"bottom";
			text-align: center;
			justify-content: center;

			.logo {
				grid-area: top;
			}

			.scroll-info,
			.buttons {
				grid-column: 1 !important;
			}
		}


		h1 {
			max-width: 375px;
			margin-bottom: 30px;
			text-align: left;
			font-size: 40px;
			line-height: 47px;

			@media (max-width: @threshold2) {
				max-width: 500px !important;
				margin-left: auto;
				margin-right: auto;
				text-align: center !important;
			}

			@media (max-width: @threshold3) {
				font-size: 30px;

				max-width: 350px !important;
			}

			@media (max-width: @threshold4) {
				font-size: 27px;
			}
		}
		strong {
			font-weight: 400;
			font-size: 20px;
		}

		.tag-line {
			font-size: 27px;

			@media (max-width: @threshold2) {
				text-align: center;
			}

			@media (max-width: @threshold3) {
				font-size: 20px;
			}
		}

		.img.logo {
			background-image: url("/images/logos/logo-big.png");
			width: 425px;
			height: 250px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center bottom;

			@media (max-width: @threshold1) {
				width: 370px;
				background-position: center top;
			}
			@media (max-width: @threshold2) {
				align-self: unset;
				height: 220px;
				margin: 0 auto;
				margin-bottom: 50px;
			}

			@media (max-width: @threshold4) {
				width: 300px;
			}
		}

		.buttons {
			grid-column: span 2;
			display: block;
			text-align: center;
			padding-top: 30px;
			margin: 0 auto;
			white-space: nowrap;

			@media (max-width: @threshold1) {
				.scale(0.8);
				padding-top: 0;
			}

			@media (max-width: @threshold3) {
				.scale(0.5);


				.button {
					font-size: 140%;
				}
			}

			.button {
				margin-top: 0;
				margin-right: 0;
			}

		}

		.connector {
			border-bottom: 2px solid fade(white, 60%);
			width: 60px;
			display: inline-block;
			margin-left: -3px;
			margin-right: -3px;
			position: relative;
			top: -3px;

			@media (max-width: @threshold1) {
				width: 30px;
			}

			@media (max-width: @threshold4) {
				width: 10px;
			}
		}

		.scroll-info {
			grid-column: span 2;
			text-align: center;
			font-weight: 100;
			margin-top: 40px;
			height: 60px;
			font-size: 20px;


			#homeText{
				font-size: 30px;

			}
		}
	}
}