section{

	///////////////////////////////////////////////////////////
	//
	// what
	//
	///////////////////////////////////////////////////////////

	&.what{
		.top-gradient{
			background-image: url("/images/hero/top-gradient.png");
			max-width: 1200px;
			height: 32px;
			position: absolute;
			left: 0;
			right: 0;
			top: -32px;
		}


		.img.lighthouse{
			background-image: url("/images/photos/lighthouse.jpg");
			float: right;
			margin-left: 0;
			width: 100%;
			background-repeat: no-repeat;
			height: 400px;
			background-size: contain;
			background-position: top center;
			margin-top: 50px;

			@media (max-width: @threshold3) {
				height: 350px;
			}
		}
	}

}